---
// astro
import type { CollectionEntry } from "astro:content";

// components
import Icon from "./Icon.astro";

// astro props
interface Props {
  collection: CollectionEntry<"snippets"> | CollectionEntry<"udhr">;
  index: number;
  total: number;
  prev: any | null;
  next: any | null;
}

const { collection, index, total, prev, next } = Astro.props;
---

<nav class="pagination">
  {
    prev && (
      <a
        href={`/${collection.collection}/${prev.slug}/`}
        title={prev.data.title}
      >
        <Icon name="previous" size="m" />
      </a>
    )
  }

  <span>{`${index + 1}`.padStart(`${total}`.length, "0")} of {total}</span>

  {
    next && (
      <a
        href={`/${collection.collection}/${next.slug}/`}
        title={next.data.title}
      >
        <Icon name="next" size="m" />
      </a>
    )
  }
</nav>

<style>
  .pagination {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-inline: auto;
  }
</style>
