---
// components
import Icon from "./Icon.astro";

// astro props
interface Props {
  service: string;
  alias: string;
}

const { service, alias } = Astro.props;
---

{
  service == "homepage" && (
    <a
      rel="noopener"
      target="_blank"
      href={`https://${alias}`}
      title="Link to Homepage"
    >
      <Icon name="home" />
    </a>
  )
}

{
  service == "github" && (
    <a
      rel="noopener"
      target="_blank"
      href={`https://github.com/${alias}`}
      title="Link to Github"
    >
      <Icon name="github" />
    </a>
  )
}

{
  service == "codepen" && (
    <a
      rel="noopener"
      target="_blank"
      href={`https://codepen.com/${alias}`}
      title="Link to Codepen"
    >
      <Icon name="codepen" />
    </a>
  )
}

{
  service == "twitter" && (
    <a
      rel="noopener"
      target="_blank"
      href={`https://twitter.com/${alias}`}
      title="Link to Twitter"
    >
      <Icon name="twitter" />
    </a>
  )
}

{
  service == "youtube" && (
    <a
      rel="noopener"
      target="_blank"
      href={`https://youtube.com/${alias}`}
      title="Link to Youtube"
    >
      <Icon name="youtube" />
    </a>
  )
}

{
  service == "xing" && (
    <a
      rel="noopener"
      target="_blank"
      href={`https://xing.com/${alias}`}
      title="Link to Xing"
    >
      <Icon name="xing" />
    </a>
  )
}

{
  service == "linkedin" && (
    <a
      rel="noopener"
      target="_blank"
      href={`https://linkedin.com/${alias}`}
      title="Link to LinkedIn"
    >
      <Icon name="linkedin" />
    </a>
  )
}

{service == "email" && <p class="email">{alias}</p>}

<style>
  .social {
    color: var(--fg);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: calc(var(--gap) / 3);
    row-gap: calc(var(--gap) / 4);
  }

  .social__navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: calc(var(--gap) / 3);
  }

  a {
    display: flex;
    grid-auto-flow: column;
    align-items: center;
    gap: calc(var(--gap) / 6);
    width: 1.4rem;
    transition: color 0.2s var(--ease-1);
  }

  a:hover {
    color: var(--fg-emphasized);
  }

  svg {
    display: block;
    width: 1.4rem;
    height: auto;
  }
</style>
